<%- include("header") %>
    <body>
        <%- include("nav") %>
        <div class="selected__movie">
            <div class="selected__movie-poster">
                <img src="/images/<%=movie['poster']%>" class="poster" />
                <div class="selected__movie-info">
                <p><%=movie['name']%></p>
                <p>Gatunek: <%=movie['poster']%></p>
                <p>Data wydania: <%=movie['poster']%></p>
                <p>Próg wiekowy: <%=movie['poster']%> lat</p>
                <p>Czas trwania: <%=movie['poster']%></p>
                <p>Obsada: <%=movie['poster']%></p>
                <p><a href="" target="_blank"target="_blank">Find out more</a></p>
            
                <a href="" ><button class="selected__movie-buy">Rent</button></a>  
                </div>
              </div>
        </div>
    </body>
</html>







